<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Janus WebRTC Gateway: AudioRoom</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content">
      <h1>Audio Room
        <button id="start">Start</button>
      </h1>
      <div class="pure-g" id="details">
        <div class="pure-u-1">
          <h3>Details</h3>
          <p>Press the <code>Start</code> button above to launch the demo.</p>
        </div>
      </div>
      <div class="pure-g hidden" id="audiojoin">
        <div class="pure-u-1">
          <div class="l-box">
            <span id="you"></span>
            <div class="pure-u-1 pure-form" id="controls">
              <div class="pure-control-group">
                <label for="username">@</label>
                <input type="text" class="pure-input-3-4" placeholder="Choose a display name" id="username" onkeypress="return checkEnter(this, event);"></input>
                <button class="button-small button-success pure-button" id="register">Join the room</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-g hidden" id="room">
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
            <h3>Participants
              <span class="hidden" id="participant"></span>
              <button class="button-xsmall button-error" id="toggleaudio">Mute</button>
            </h3>
          </div>
          <div class="l-box">
            <ul id="list"></ul>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
            <h3>Mixed Audio</h3>
          </div>
          <div class="l-box">
            <div id="mixedaudio"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
