<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="tracjanusgateway">
  <xi:include href="layout.html" />
  <head>
    <title>Janus WebRTC Gateway</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="janus">
      <h1>Janus Gateway</h1>
      <ul>
        <li><a href="janus/echo">Echo</a></li>
        <li><a href="janus/videocall">VideoCall</a></li>
        <li><a href="janus/videoroom">VideoRoom</a></li>
        <li><a href="janus/audioroom">AudioRoom</a></li>
        <li><a href="janus/screensharing">ScreenSharing</a></li>
      </ul>
    </div>
  </body>
</html>
