<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="tracjanusgateway">
  <xi:include href="layout.html" />
  <head>
    <title>Janus WebRTC Gateway: VideoRoom</title>
    <script type="text/javascript">
function videorooms_initializer(initializer) {
      <py:if test="defined('video_rooms')">
        <py:for each="room in video_rooms">
    $('#start-${room}').click(function() {
        $('.nameplate:not(#room-${room}').hide();
        initializer(${room});
    });
        </py:for>
      </py:if>
}
    </script>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content">
      <py:if test="defined('video_rooms')">
        <h1 py:for="room in video_rooms" class="nameplate" id="room-${room}">Video Room @${room} <button id="start-${room}">Start</button></h1>
      </py:if>
      <div class="pure-g" id="details">
        <div class="pure-u-1">
          <h3>Details</h3>
          <p>Press the <code>Start</code> button above to launch the demo.</p>
        </div>
      </div>
      <div class="pure-g hidden" id="videojoin">
        <div class="pure-u-1">
          <div class="l-box">
            <span id="you"></span>
            <div class="pure-u-1 pure-form" id="controls">
              <div class="pure-control-group hidden" id="registernow">
                <label for="username">@</label>
                <input type="text" class="pure-input-3-4" placeholder="Choose a display name" id="username" value="${username}" onkeypress="return checkEnter(this, event);"></input>
                <button class="button-small button-success pure-button" id="register">Join the room</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-g hidden" id="videos">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Local Video <span class="hidden" id="publisher"></span>
              <div class="pure-button-group hidden" role="toolbar" aria-label="...">
                <button class="button-xsmall pure-button pure-button-primary">
                  <ul class="pure-menu-list">
                    <li class="pure-menu-item pure-menu-has-children">
                      <a href="#" class="pure-menu-link" id="bitrateset">Bandwidth</a>
                      <ul class="pure-menu-children" id="bitrate">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="0">No limit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="128">Cap to 128kbit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="256">Cap to 256kbit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="512">Cap to 512kbit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="1024">Cap to 1mbit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="1500">Cap to 1.5mbit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="2000">Cap to 2mbit</a></li>
                      </ul>
                    </li>
                  </ul>
                </button>
              </div>
            </h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videolocal"></div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Remote Video #1 <span class="hidden" id="remote1"></span></h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videoremote1"></div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Remote Video #2 <span class="hidden" id="remote2"></span></h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videoremote2"></div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Remote Video #3 <span class="hidden" id="remote3"></span></h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videoremote3"></div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Remote Video #4 <span class="hidden" id="remote4"></span></h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videoremote4"></div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="l-box">
            <h3>Remote Video #5 <span class="hidden" id="remote5"></span></h3>
          </div>
          <div class="l-box">
            <div class="relative" id="videoremote5"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
